body {
  font-family: 'Taviraj', serif;
  -webkit-font-smoothing: antialiased;

}

h2{
  font-size: 53px;
  font-weight:normal;
  color:#333;
  padding: 0;
  margin: 0 0 10px 10px;
}

.wrapper{
  margin: auto;
  width: 100%;
}

.row{
  margin: auto;
  width: 100%;

}
.button {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #F60000;
    border: 2px solid #fff;
    overflow: hidden;
    font-family: 'Ewert', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.button .button--xmas span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    font-size: 30px;
    padding-top: 12px;
    font-family: 'Taviraj', serif;
}

/* :after */

.button:after {
    content: attr(data-active);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*
    We show :before pseudo-element on :hover
    and :after pseudo-element on :active
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/*
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.button--nov {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #ededed;
    border: 2px solid #fff;
    overflow: hidden;
    font-family: 'Ewert', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    vertical-align: middle;
    outline: none;
    margin: 0;
    padding: 0;
}

.button--opened {
    display: table-cell;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    font-family: 'Taviraj', serif;
    font-size: 20px;
    line-height: 20px;
    color: #999;
    text-align: center;
    vertical-align: middle;
    outline: none;
    margin: 0;
    padding: 30px 0 0 0;
    background:
    linear-gradient(135deg, #EAEEEF 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #EAEEEF 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #EAEEEF 25%, transparent 25%),
    linear-gradient(45deg, #EAEEEF 25%, transparent 25%);
    background-size: 50px 50px;
    background-color: rgba(205, 219, 222, 0);
}

.button--unopened {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    font-family: 'Ewert', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    vertical-align: middle;
    outline: none;
    margin: 0;
    padding: 0;
    background:
    linear-gradient(135deg, #EAEEEF 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #EAEEEF 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #EAEEEF 25%, transparent 25%),
    linear-gradient(45deg, #EAEEEF 25%, transparent 25%);
    background-size: 50px 50px;
    background-color: rgba(205, 219, 222, 1);
    }

.button--xmas {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    font-family: 'Ewert', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background:
    linear-gradient(135deg, green 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, green 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, green 25%, transparent 25%),
    linear-gradient(45deg, green 25%, transparent 25%);
    background-size: 50px 50px;
    background-color: #F60000;
    }
